/**
 * Styles for the add-observation.html page 
 */
 .required{
     color:red;
 }
 .errorRed{
    color:red;
}
.ObservationShort{
    width:210px;
}
.ObservationLong{
    width:80%;
}
#ObservationLicense{
    width:80%;
}

textarea{
    width:80%;
}